.form {
    padding: 4.5rem 4.2rem 4.2rem 4.2rem;
    grid-column: col-start 5 / full-end;

    @media only screen and (max-width: $bp-tab) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-low) {
        padding: 2.5rem;
    }

    &__namebox {
        display: flex;

        &--1 {
            width: 50%;
            margin-right: 10%;
        }
        &--2 {
            width: 50%;
        }
    }


    &__wrapper {

        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }

    }

    &__label {
        display: block;
        font-size: 1.5rem;
        font-family: $font-body;
    }

    &__input {
        width: 100%;
        padding: 1.3rem 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #000;

        &:focus {
            outline: none;
            border: 1px solid #222;
        }

        &:hover {
            border: 1px solid #222;
        }

        &:focus:invalid {
            border: 1px solid #fa2f3d6e; 
            background-color: #fa2f3d6e;
        } 
    }

    &__button {
        border: none;
        background: transparent;
        font-family: $font-body;
        font-weight: 400;
        border: 1px solid #000;
        padding: 1.5rem 4rem;
        color: #000;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #222;
            color: #fff;
            transition-duration: 0.3s;
        }
    }
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 3rem;
}

.success {
    background-color: #26bf45cb;
}

.error {
    background-color: #fa2f3d6e;
}